/* Navigation */

#navbar{
    flex-direction: column;
    
}
#navbar ul li a{
    font-size: 0.8rem;
    padding: 0px 6px;
    padding-bottom: 6px;
}

/* home section  */
#home{
    height: 320px;
    padding: 12px 70px;
    
}
#home::before{
    height: 460px;
    
}

#home p{
    font-size: 1.2rem;
}
/* services section  */
/* section.serv-container{
    padding-top: 0px;
} */
#services{
    flex-direction: column;
}

#services .box{
    padding: 12px;
    margin: 2px 0px;
    margin-bottom: 14px;

}

/* client section */

#clients{
    flex-wrap: wrap;
    /* padding-top: 0px; */
    /* padding: 0px 0px 0px 0px; */
}
#clients img{
    /* height: auto; */
    width: 80px;
    padding-bottom: 10px;
    /* margin: 0px 0px 0px 0px; */
    /* padding: 0px 0px 0px 0px; */
    
}
/* .client-item{
    margin: 3px;
    padding: 0px;
} */

/* contact us section  */

#contact-box form{
    width: 80%;
}

/* footer  */

/* utility classes */
.h-primary{
    font-size: 30px;
    /* justify-content: center;
    text-align: center; */
}

.btn{
    font-size: 1rem;
    padding: 4px 5px;
}